@use '../variables' as *;
@use './mixin' as mixin;
@use 'sass:color';

.chartContainer {
    background-color: white;
    margin: 0 1rem;
    padding: 3rem;
    overflow-y: auto;
    width: 95%;
    &::-webkit-scrollbar {
        display: none;
    }

    > h1 {
        margin: 0 0 5rem 2rem;
    }

    > section {
        width: 80%;
        margin: 4rem auto;

        > h2 {
            margin: 2rem 0;
            text-align: center;
            @include mixin.heading(2px);
        }
    }
}

.pieChartContainer {
    background-color: white;
    margin: 0 1rem;
    padding: 4rem;
    overflow-y: auto;
    width: 95%;
    &::-webkit-scrollbar {
        display: none;
    }
    > h1 {
        margin: 0 0 5rem 2rem;
    }
    > section {
        > div {
            max-width: 20rem;
            margin: auto;
            margin-top: 6rem;
            margin-bottom: -1rem;
        }

        > h2 {
            margin: 2rem 0;
            text-align: center;
            @include mixin.heading(2px);
        }
    }
}
